@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,300;0,400;0,700;1,200;1,400;1,600&display=swap');




body
{
  margin: 0px;
  padding: 0px;
  width: 95%;
  
  font-size: 1em;
  background: radial-gradient(#FF6600, #CC9900);
  font-family: 'Fahkwang', sans-serif;

}

* {
  box-sizing: border-box;

}

#main-title {
  font-size: 2em;
  font-family: 'Marko One', serif;
  text-align: center;
}

#title-history {
  font-size: 2.2em;
  text-align: center;

}

hr {
  align-items: center;
  width: 90%;
  height: .2em;
  background-color: rgba(26, 6, 116, 0.685);
}

nav {
  text-align: center;
}
#about-us {
  text-decoration: none;
  margin: 5px 5px 0 0;
}

#history {
  
  width: 550px;
  text-align: justify;
  margin:0 1em 0 2em;
  float: left;
}

img[src=images] {

  text-align: center;
}

.flaver {
  text-align: center;
}

.about {
  text-align: justify;
  padding: .5em;
  margin-left: 1em;
}